

#page{
	padding: 0;
	width: 100%;
	margin: auto;
	font-size: 1.3em;
	font-family: sans-serif;
	
	line-height: 1.3em;
}




article p, article ul{
	width: 50%;
	margin-left: 470px;
	
}
#pageTitle, article h3, article h2, article pre, article h4, article h5{
	text-align: center;
	
	
}

.coverImg {
	display: block;
  	margin-left: 26%;
  	margin-right: auto;
	margin-top: 30px;
  	width: 900px;
	height: 500px;
}

.djangoimg{
	display : block;
	margin-left: 26%;
	margin-right: auto;
	width: 20%;
	height: 20%;
}
.turboimg{
	display: block;
	margin-left: 26%;
	margin-right: auto;
}
.Python{
	display: block;
	margin-left: auto;
	margin-right: auto;
}


